/*caracteristicas generales de la pagina*/
body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin: 0%;
}
::placeholder { color: black; }
::-webkit-scrollbar {display: none;}
/*Esto va en la cabeza de la pagina web, osea el logo solamente (por ahora)*/
header{
    width: 100%;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:start;
}
img{
    width: 20%;
    margin:1ex
}
/*Aquí va el centro de la pagina web, osea nuestro titulo y sub titulo*/
main{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
h1{
    color:#005E90;
    text-align: center;
    font-size: 10ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color:#005E90;
    text-align: center;
    font-size:7ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:white;
    text-align: center;
    font-size:2ex; 
    margin: 3ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    background-color:#005E90;
    border: none;
    width: auto;
    height: auto;
    color: white;
    font-size: 7ex;
    margin: 3ex;
    background-color: #1d709c;
    transition: 1s;
}
input:hover{
    cursor:pointer;
    transition: 1s;
    background-color: #619dbe;
}
/*Aqui va la pagina inferior, podran encontrar el re ajuste del tamaño de las IMGs y ademas, el re ajuste de los Nombres correspondientes*/
footer{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}
.footer_img{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.footer_parrafo{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
a{
    text-decoration: none;
}
.correo{
    width: 20%;
}
.correo:hover{
    -webkit-transform: rotate(360deg);
    transition: 1s ease-in-out;
}