/*caracteristicas generales de la pagina*/
body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin: 0%;
    zoom: 75%;
}
::placeholder { color: rgb(218, 204, 204); }
::-webkit-scrollbar {display: none;}
/*Esto va en la cabeza de la pagina web, osea el logo solamente (por ahora)*/
header{
    background-color: #005E90;
    width: 100%;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:start;
}
img{
    width: 20%;
    margin:1ex
}
/*Aquí va el centro de la pagina web, osea nuestro titulo y sub titulo*/
.regresar{
    background-color: #619dbe;
    width: auto;
    height: auto;
    font-size: 5ex;
    margin: 3ex;
    border: none;
    background-color: #72a4be;
    transition: 1s;
}
.regresar:hover{
    cursor: pointer;
    background-color: #005E90;
    transition: 1s;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
h1{
    color:#005E90;
    text-align: center;
    font-size: 5ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color:#ffffff;
    text-align: start;
    font-size:4ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color:#005E90;
    text-align: center;
    font-size:5ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
p{
    color:white;
    text-align: center;
    font-size:2ex; 
    margin: 3ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Aquí esta nuestro formulario*/
.p_form{
    color: white;
    display: flex;
    align-items: center;
    font-size: 3.5ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.example{
    width: 75%;
}
textarea{
    width: 90%;
    height: 10ex;
    font-size: 10ex;
}
form{
    background-color: #005E90;
    width: 92%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10ex;
    border-radius: 3ex;
}
.baul_tipos_row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.img_form{
    width: 27ex;
}
.Titulo{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.Titulo_img{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.name1{
    width: 28%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name2{
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name3{
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name4{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name5{
    width: 22%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info{
    width: 29%;
    text-align: center;
    color: #000;
    font-size: 3ex;
}
.baul_inputs{
    background-color: #005E90;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.baul_tipos_column{
    width: 30%;
    height: 130ex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputs{
    width: 80%;
    height: 130ex;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
input{
    width: 90%;
    height: 5ex;
    font-size: 4ex;
    color: black;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1ex;  
}
/*Aqui va la pagina inferior, podran encontrar el re ajuste del tamaño de las IMGs y ademas, el re ajuste de los Nombres correspondientes*/
footer{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}
.footer_img{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.footer_parrafo{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
a{
    text-decoration: none;
}
.correo{
    width: 20%;
}
.correo:hover{
    -webkit-transform: rotate(360deg);
    transition: 1s ease-in-out;
}