/*caracteristicas generales de la pagina*/
body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin: 0%;
    zoom: 75%;
}
::placeholder { color: black; }
::-webkit-scrollbar {display: none;}
/*Esto va en la cabeza de la pagina web, osea el logo solamente (por ahora)*/
header{
    background-color: #005E90;
    width: 100%;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:start;
}
img{
    width: 20%;
    margin:1ex
}
/*Aquí va el centro de la pagina web, osea nuestro titulo y sub titulo*/
form{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
#A101{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;
}
#A112{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;
}
#BELLOTO{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;
}
#B102{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;
}
#B103{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;    
}
#B105{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;    
}
#B201{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;    
}
#B202{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;    
}
#B203{
    background-color: #5394c6;
    width: 90%;
    height: auto;
    margin:10ex;
    display: none;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 2ex; 
    margin: 10ex;    
}
.mitad_1{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    border-radius: 10ex; 
}
.mitad_2{
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 10ex; 
}
.primero{
    width: 20%;
    height: 55ex;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.segundo{
    width: 10%;
    height: 55ex;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.tercero{
    width: 10%;
    height: 55ex;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.cuarto{
    width: 30%;
    height: 55ex;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.quintero{
    width: 30%;
    height: 55ex;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
    height: 4ex;
    margin: 1ex;
}
textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 95%;
    height: 40ex;
    margin: 3ex;
}
.check{
    width: 5ex;
    height: 5ex;
    margin: 1ex;
}
h1{
    color:#005E90;
    text-align: center;
    font-size: 10ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color:#005E90;
    text-align: center;
    font-size:2ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color:#005E90;
    text-align: center;
    font-size:5ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.h3_cv{
    color: rgb(255, 255, 255);
    text-align: start;
    font-size: 3ex;
    margin: 1ex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:white;
    text-align: center;
    font-size:2ex; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nombre{
    width: 50%;
    height: 5ex;
    text-align: center;
}
.enviar{
    width: 25%;
    height: 5ex;
    text-align: center;
}
/*Aqui va la pagina inferior, podran encontrar el re ajuste del tamaño de las IMGs y ademas, el re ajuste de los Nombres correspondientes*/
footer{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content:center;
    flex-direction: column;
}
.footer_img{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.footer_parrafo{
    background-color: #619dbe;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
a{
    text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.correo{
    width: 20%;
}
.correo:hover{
    -webkit-transform: rotate(360deg);
    transition: 1s ease-in-out;
}